html,
body {
  height: 100%;
}

/* a {
  color: #333;
} */

a:hover {
  text-decoration: none;
  color: #fff;
  /* border-bottom: 1px #fff solid; */
  /* border-bottom: 1px #333 solid; */
}

.active-tab-border {
  border: 1px white solid;
  padding: 7px;
  background-color: #b1000e;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.active-tab-border a {
  color: #fff !important;
}

.active-tab-border:hover {
  background-color: #282828;
  /* color: #fff; */
}

.active-tab-border a:hover {
  color: #fff;
}

.inactive-tab {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.inactive-tab a {
  color: #fff;
}

.inactive-tab:hover {
  background-color: #333;
}

/* span a.header-main-menu:hover {
  color: #fff;
} */

/* span a.header-main-menu {
  text-decoration: none;
  color: #333;
} */

/* ************************************************* */

.main-bgcolor {
  background-color: #f0f0f0;
}

.nav-tabs .nav-link.active {
  /* background-color: #0d66d0; */
  background-color: #737373;
  color: #f0f0f0;
}

.nav-link,
.nav-link:hover {
  color: #333;
}

.tab-pane {
  /* border-top: 4px solid #0d66d0; */
  border-top: 4px solid #737373;
  padding: 0;
}

.nav-tabs {
  margin-bottom: 0;
}

/* .card:hover{
  border: #0d66d0;
} */

.btn-color {
  background-color: #cc0000;
  color: white;
}

.btn-color:hover {
  background-color: #b1000e;
  color: white;
}

.img-setup {
  height: 100px;
  width: 120px;
}

.status-card-text-space {
  padding-left: 5px;
}

table.table-bordered {
  border: 1px solid #737373;
  margin-top: 20px;
}

table.table-bordered>thead>tr>th {
  border: 1px solid white;
  background-color: #737373;
  color: white;
}

table.table-bordered>tbody>tr>td {
  border: 1px solid #737373;
}

.fixTableHead {
  overflow-y: auto;
  height: 467px;
}

.fixTableHead thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.fixTableHead thead th:after,
.fixTableHead thead th:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

.fixTableHead thead th:before {
  top: 0;
  border-top: 3px solid #737373;
}

.fixTableHead thead th:after {
  bottom: 0;
  border-bottom: 3px solid #737373;
}

.dot-red {
  background: red;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.dot-green {
  background: green;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.dot-yellow {
  background: yellow;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.dot-gray {
  background: #ccc9c9;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.blinking-red {
  animation: 1s blink-red ease infinite;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

@keyframes blink-red {
  0% {
    opacity: 0;
    background-color: red;
  }

  50% {
    opacity: 1;
    background-color: red;
  }

  100% {
    opacity: 0;
    background-color: red;
  }
}

.blinking-green {
  animation: 1s blink-green ease infinite;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

@keyframes blink-green {
  0% {
    opacity: 0;
    background-color: green;
  }

  50% {
    opacity: 1;
    background-color: green;
  }

  100% {
    opacity: 0;
    background-color: green;
  }
}

.blinking-yellow {
  animation: 1s blink-yellow ease infinite;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

@keyframes blink-yellow {
  0% {
    opacity: 0;
    background-color: yellow;
  }

  50% {
    opacity: 1;
    background-color: yellow;
  }

  100% {
    opacity: 0;
    background-color: yellow;
  }
}

/* loading**/

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #55505082;
  z-index: 10;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-width: 8px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #0d66d0;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.font-weight-bold {
  font-weight: 700 !important;
}

.bg-grey {
  background-color: #f2f2f2;
}

.txt-dark {
  color: #333;
}

.w-80 {
  width: 80%;
}

.title-p {
  padding: 12px 20px;
  background-color: #f2f2f2;
}

/* .statusTable table th,
.statusTable table td {
  padding: 10px 15px;
  border: none !important;
  font-size: 83%;
  text-align: left;
  line-height: 140%;
} */

table {
  border-collapse: separate;
  border-spacing: 0px;
}

table th,
table td {
  padding: 10px 15px;
  /* border: solid 1px #ddd; */
  font-size: 83%;
  text-align: left;
  line-height: 140%;
}

table.TableStyle2 th,
table.TableStyle2 td {
  border: solid 1px #ddd;
}

table td {
  background-color: #fff;
}

.b-radius-0 {
  border-radius: 0px;
}

.Column1andHalf {
  float: left;
  /* width: 45%; */
  /* margin: 0 0 0 24px; */
}

.clear-both {
  clear: both;
}

.empty-div {
  float: left;
  width: 50px;
}

.status-heading {
  margin: 0 0 6px 0;
  font-size: 18px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #b1000e;
}

.fs-18 {
  font-size: 18px;
}

.metering-card-header {
  text-align: center;
  font-size: 25px;
}