html,
body {
  height: 100%;
}

a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px #fff solid;
}

.active-tab-border {
  border: 1px white solid;
  padding: 7px;
}

.header-main-menu {
  text-decoration: none;
  color: #fff;
}

.navbar {
  background-color: #0d66d0;
}

.main-bgcolor {
  background-color: #f0f0f0;
}
.nav-tabs .nav-link.active {
  background-color: #0d66d0;
  color: #f0f0f0;
}

.tab-pane {
  border-top: 4px solid #0d66d0;
  padding: 0;
}

.nav-tabs {
  margin-bottom: 0;
}

/* .card:hover{
  border: #0d66d0;
} */

.btn-color {
  background-color: #0d66d0;
  color: white;
}
.img-setup {
  height: 100px;
  width: 120px;
}

.status-card-text-space {
  padding-left: 5px;
}

table.table-bordered {
  border: 1px solid #0d66d0;
  margin-top: 20px;
}
table.table-bordered > thead > tr > th {
  border: 1px solid white;
  background-color: #0d66d0;
  color: white;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #0d66d0;
}

.dot-red {
  background: red;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.dot-green {
  background: green;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.dot-yellow {
  background: yellow;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.dot-gray {
  background: #ccc9c9;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.blinking-red {
  animation: 1s blink-red ease infinite;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

@keyframes blink-red {
  0% {
    opacity: 0;
    background-color: red;
  }

  50% {
    opacity: 1;
    background-color: red;
  }

  100% {
    opacity: 0;
    background-color: red;
  }
}

.blinking-green {
  animation: 1s blink-green ease infinite;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

@keyframes blink-green {
  0% {
    opacity: 0;
    background-color: green;
  }

  50% {
    opacity: 1;
    background-color: green;
  }

  100% {
    opacity: 0;
    background-color: green;
  }
}

.blinking-yellow {
  animation: 1s blink-yellow ease infinite;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

@keyframes blink-yellow {
  0% {
    opacity: 0;
    background-color: yellow;
  }

  50% {
    opacity: 1;
    background-color: yellow;
  }

  100% {
    opacity: 0;
    background-color: yellow;
  }
}

/* loading**/

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #55505082;
  z-index: 10;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-width: 8px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #000;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
